{% sw_extends '@Storefront/storefront/page/checkout/summary/summary-tax.html.twig' %}
{% block page_checkout_summary_taxes %}
    <label>* Gemäß § 19 UStG erheben wir keine Umsatzsteuer und weisen diese folglich auch nicht aus (Kleinunternehmerstatus).</label>
{% endblock %}